doctype html
html(lang="en")
	head
		title Secure Area
	body
		h3 Hi, secure user - #{name}
		p Navigate to
			table(width="625")
				tr
					td RESTful API links
					td Direct
				tr
					td #{url}/api/menu
					td
						li: a(href="/api/menu") Get menu
				tr
					td #{url}/api/account_change_pw
					td
						li: a(href="/api/account_change_pw") Change password
				tr
					td #{url}/api/account_remove
					td
						li: a(href="/api/account_remove") Remove account
				tr
					td #{url}/api/account_search_user
					td
						li: a(href="/api/account_search_user") Search for user
				tr
					td #{url}/api/account_search_users
					td
						li: a(href="/api/account_search_users") List all users
				tr
					td #{url}/api/account_search_team
					td
						li: a(href="/api/account_search_team") Search for team
				tr
					td #{url}/api/account_search_teams
					td
						li: a(href="/api/account_search_teams") List all teams
				tr
					td #{url}/api/server_add_user
					td
						li: a(href="/api/server_add_user") Add to server
				tr
					td #{url}/api/server_remove_user
					td
						li: a(href="/api/server_remove_user") Remove from server
				tr
					td #{url}/api/logout
					td
						li: a(href="/api/logout") Logout
